---
import { Image } from 'astro:assets';
import Steam from "../assets/buttons/steam.gif"
import Minecraft from "../assets/buttons/minecraft.gif"
import Blender from "../assets/buttons/blender.gif"
import Bluesky from "../assets/buttons/bluesky.gif"
import Astrologo from "../assets/buttons/astro.png"
import Mullvad from "../assets/buttons/mullvad.png"
import qBittorrent from "../assets/buttons/qbittorrent.png"
---

<div class="container">
    <div class="badges">
        <!--games and software-->
        <a href="https://astro.build/"><Image src={Astrologo} alt="Astro" class="button" loading="eager"></a>
        <a href="https://store.steampowered.com/"><Image src={Steam} alt="Play with STEAM" class="button" loading="eager"></a>
        <a href="https://minecraft.net/"><Image src={Minecraft} alt="Minecraft" class="button" loading="eager"></a>
        <a href="https://www.blender.org/"><Image src={Blender} alt="Blender" class="button" loading="eager"></a>
        <a href="https://bsky.app/"><Image src={Bluesky} alt="Bluesky" class="button" loading="eager"></a>
        <a href="https://mullvad.net/"><Image src={Mullvad} alt="Mullvad" class="button" loading="eager"/></a>
        <a href="https://qbittorrent.org/"><Image src={qBittorrent} alt="qBittorrent" class="button" loading="eager"></Image></a>
    </div>

</div>